.centeryaz { text-align: center;}

.article { 
           margin-bottom: 100px;
           margin-right: 300px;
           margin-left: 300px;
         }

.h1color 
         {
           color:red;
         }

